*{
    font-family: sans-serif;
}
.common{
    border: 1px solid black;
}
.head{
    border-radius: 20px;
    background-image: url('images/kitchen.jpg');
    background-size: cover;
}
h1{
    text-align: center;
    font-size: 70px;
    font-style: italic;
    color: #000000;
}
.main{
    background-color: rgb(220, 182, 252);
}
.div3{
     width: 50%;
     text-align: center;
     /* padding: 50px 0; */
     display: inline;
     /* margin-top:10%; */
     border: 1px solid black;
}
table tr th{
    border-collapse: collapse;
    border: 1px solid black;
}
div img{
    border-radius: 50%;
    width: 200px;
}

.inline-div{
    display: inline;
    height: 200px;
}